<a href="{{product.url}}">
  {% render 'image', class: '', mobileSrc: {{product.featured_image}}, desktopSrc: {{product.featured_image}} %}
</a>
<h3>{{ product.title }}</h3>
<p>{{ product.price | money_with_currency }}</p>