<product-card class="product-card" data-handle="{{ product.handle }}">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  {%- assign form_id = 'Form-' | append: section.id | append: product.id -%}

  <div class="product-image">
    <a href="{{ product.url }}" class="product-card__link">
      <img src={{featured_image | img_url: 'large'}} alt="">
    </a>
  </div>

  <div class="product-card__meta">
    <div>
      <a
        class="h5 text-decoration-none"
        style="margin: 10px 0px;"
        href="{{ product.url }}">{{ product.title }}</a>
    </div>
    <div class="product-card__prices flex align-center">
      <div class="product-card__price h3" style="color: green;">{{ current_variant.price | money_without_trailing_zeros }}</div>
      {% if current_variant.compare_at_price > current_variant.price %}
        <div class="product-card__compareprice">
          {{ current_variant.compare_at_price | money_without_trailing_zeros }}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="product-card__form">
    {%- form 'product', product -%}
      <input
        type="hidden"
        name="quantity"
        value="1">
      <select name="id" class="hidden">
        {% for variant in product.variants %}
          <option
            value="{{ variant.id }}"
            {% if variant.id == current_variant.id %}
            selected
            {% endif %}>
            {{ variant.title }}
          </option>
        {% endfor %}
      </select>

      {% unless product.has_only_default_variant %}
        {%- for option in product.options_with_values -%}
          <div class="product-card__options">
            <label class="product-card__options--label h5">{{ option.name }}</label>

            <div class="product-card__options--swatches flex flex-wrap align-center justify-center">
              {%- for value in option.values -%}
                <div class="product-card__options--swatch swatch-{{ option.name | handleize }}">
                  <input
                    hidden
                    type="radio"
                    id="{{ section.id }}-{{ product.id }}-{{ value }}"
                    name="{{ option.name }}"
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}
                    checked
                    {% endif %}>
                  {% if option.name == 'color' %}
                    <label for="{{ section.id }}-{{ product.id }}-{{ value }}" style="background-color: {{ value | handleize }}; background-image: url({{ value | handleize | append: '.png' | file_img_url }})"></label>
                  {% else %}
                    <label class="product-options" for="{{ section.id }}-{{ product.id }}-{{ value }}">
                      {{ value }}
                    </label>
                  {% endif %}
                </div>
              {%- endfor -%}
            </div>
          </div>
        {%- endfor -%}
      {% endunless %}
      {% if current_variant %}
        <button type="submit" class="button button--primary button--full-width card_button">
          Add to cart
        </button>
      {% else %}
        <button
          type="button"
          class="button button--primary button--full-width"
          disabled>Soldout</button>
      {% endif %}
    {%- endform -%}
  </div>



  <script type="application/json">
    {{ product.variants | json }}
  </script>
</product-card>

<style>
  .product-card {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .button {
    margin-top: 20px;
    position: relative;
    bottom: 0;
    left: 0;
  }
  .product-card__compareprice {
    text-decoration: line-through;
    color: red;
    margin-left: 10px;
  }
  .product-image {
    width: 100%;
    padding: 10px;
  }
  .product-options {
    margin: 10px;
    background-color: rgb(242, 247, 245);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
  }
</style>