<a href="{{product.url}}">
  {% render 'image', class: '', mobileSrc: {{product.featured_image}}, desktopSrc: {{product.featured_image}} %}
</a>
<h3>{{ product.title }}</h3>
<p>{{ product.price | money_with_currency }}</p>
{% unless product.has_only_default_variant %}
  {% for option in product.options_with_values %}
    <div class="flex flex-wrap align-center">
      <label class="h5" for="{{option.name}}">{{ option.name }}</label>
      {% for value in option.values %}
        <div class="flex flex-wrap align-center">
          <input type="radio" name="{{option.name}}">
          <option>{{ value }}</option>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endunless %}
{% form 'product', product %}
  <button type="submit" class="button button-primary">Add to Cart</button>
{% endform %}