{% if section.settings.blog.articles.size > 0 %}
  <div class="blog-section_{{section.id}} page-width">
    <h2 class="h3 mb-10">{{ section.settings.heading }}</h2>
    <div class="grid grid--1-col grid--2-col-desktop">
      {% for article in section.settings.blog.articles %}
        <div class="grid__item ">
          <div class="blog-post">
            <a href="{{article.url}}">
              {% render 'image' class: '', mobileSrc: article.image, desktopSrc: article.image %}
            </a>
            <div>{{ article.published_at | date: '%B %d, %Y' }}
            </div>
            <a class="text-decoration-none" href="{{article.url}}">
              <h2 class="blog-post-title h3">{{ article.title }}</h2>
            </a>
            <div>{{ article.excerpt_or_content }}</div>
            <a class="readmore" href="{{article.url}}">Read More
              <span>></span>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% style %}
  .readmore {
    text-decoration: none;
    color: #271E0A;
    font-weight: 700;
  }
  .blog-post {
    max-width: 600px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Blog Posts",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Blog Posts"
      }, {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      }
    ],
    "presets": [
      {
        "name": "Blog Posts"
      }
    ]
  }
{% endschema %}