<div class="container collection-list background-{{ section.id }}">
  <div class="collection-list--header flex justify-between heading-color-{{ section.id }}">
    {% if section.settings.heading_text != blank %}
      <div class="h2">
        {{ section.settings.heading_text }}
      </div>
    {% endif %}
    {% if section.settings.button_text != blank and section.settings.button_url != blank %}
      <div>
        <a class="button button-secondary button-color-{{ section.id }}" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
      </div>
    {% endif %}
  </div>
  {% if section.settings.collection_list != blank %}
    <div class="flexbox flex flex-wrap justify-center align-center">
      {% for collection in section.settings.collection_list %}
        <div class="flexbox__item">
          {% render 'collection-card', collection: collection %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% style %}
  .background-{{ section.id }}{
    background: {{ section.settings.background_color}}
    ;
  }
  .heading-color-{{ section.id }}{
    color: {{ section.settings.heading_color }}
    ;
  }
  .button-color-{{ section.id }}{
    Color: {{ section.settings.button_color }}
  }
{% endstyle %}
{% schema %}
  {
    "name": "Collection list section",
    "class": "homepage-section",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section heading settings"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      },
      {
        "type": "text",
        "id": "heading_text",
        "label": "Heading text"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading color"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
      }, {
        "type": "color",
        "id": "button_color",
        "label": "Button color"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button link"
      }, {
        "type": "collection_list",
        "id": "collection_list",
        "label": "Collections",
        "limit": 8
      }
    ],
    "presets": [
      {
        "name": "Collection list section"
      }
    ]
  }
{% endschema %}