{%- if collection.image -%}
  {% assign mobile_image = collection.metafields.custom.mobile_banner | img_url: 'medium' | default: collection.image %}

  <div class="collection-banner">
    <img
      srcset="{%- if collection.image.width >= 165 -%}
      {{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
    {%- if collection.image.width >= 360 -%}
      {{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
    {%- if collection.image.width >= 533 -%}
      {{ collection.image | image_url: width: 533 }} 533w,{%- endif -%}
    {%- if collection.image.width >= 720 -%}
      {{ collection.image | image_url: width: 720 }} 720w,{%- endif -%}
    {%- if collection.image.width >= 1000 -%}
      {{ collection.image | image_url: width: 1000 }} 1000w,{%- endif -%}
    {%- if collection.image.width >= 1500 -%}
      {{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
    {{ collection.image | image_url }} {{ collection.image.width }}w"
    src="{{ collection.image | image_url: width: 533 }}"
    sizes="(min-width: 1600px) 750px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
    alt="{{ collection.image.alt | escape }}"
    loading="lazy"
    class="collection-banner__image"
    width="{{ collection.image.width }}"
    height="{{ collection.image.height }}">
    <img
      src="{{ mobile_image }}"
      sizes="(min-width: 1600px) 750px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
      alt="{{ mobile_image.alt | default: collection.title | escape }}"
      loading="lazy"
      class="collection-banner__image-mobile"
      width="{{ mobile_image.width | default: 800 }}"
      height="{{ mobile_image.height | default: 800 }}">

    <div class="collection-banner__info">
      <h1 class="collection-banner__title bg-opacity h1">{{ collection.title }}</h1>

      {%- if collection.description -%}
        <div class="collection-banner__description bg-opacity h3">
          {{ collection.description | strip_html | truncate: 250 }}
        </div>
      {%- endif -%}
    </div>
  </div>

  {% style %}
    .collection-banner {
      position: relative;
    }
    .collection-banner__image,
    .collection-banner__image-mobile {
      width: 100%;
      max-width: 100%;
      max-height: 350px;
      object-fit: cover;
    }

    .collection-banner__image-mobile {
      display: none;
    }

    .collection-banner__info {
      top: 50%;
      left: 50%;
      width: 100%;
      padding: 15px;
      position: absolute;
      max-width: 500px;
      text-align: center;
      transform: translate(-50%, -50%);
    }

    .collection-banner__title {
      margin: 0 0 15px;
    }

    .bg-opacity {
      background: white;
      width: 200px;
      opacity: 0.7;
      margin: auto;
    }

    @media only screen and (max-width: 749px) {
      .collection-banner__image {
        display: none;
      }
      .collection-banner__image-mobile {
        display: block;
      }
    }
  {% endstyle %}
{%- endif -%}

{% schema %}
  {
    "name": "Collection Banner",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }

    ]
  }
{% endschema %}