{% if section.blocks.size > 0 %}
  <div class="footer footer_{{section.id}} page-width">
    <div class="footer-flex footer-items">
      {% for block in section.blocks %}
        {% if block.settings.logo != blank %}
          <div class="footer__image footer-item">
            <a href="/">
              {% render 'image', class: 'image', mobileSrc: block.settings.logo, desktopSrc: block.settings.logo %}
            </a>
          </div>
        {% endif %}
        {% if block.settings.links_heading != blank %}
          <div class="footer__links footer-item">
            <div class="h3 text-color_{{ section.id}}">{{ block.settings.links_heading }}</div>
            <ul>
              {% for link in block.settings.footer_links.links %}
                <a class="text-decoration-none" href="{{link.url}}">
                  <li class="links text-color_{{ section.id}}">{{ link.title }}</li>
                </a>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if block.settings.text_section_heading != blank and block.settings.text_section_content != blank %}
          <div class="footer__links footer-item">
            <div class="text-color_{{ section.id}} h3">{{ block.settings.text_section_heading }}</div>
            <div class="text-color_{{ section.id}}">{{ block.settings.text_section_content }}</div>
          </div>
        {% endif %}
        {% if block.settings.ns_heading != blank %}
          <div class="footer__links footer-item">
            <div class="text-color_{{ section.id}} h3">{{ block.settings.ns_heading }}</div>
            <div class="text-color_{{ section.id}}">{{ block.settings.ns_text }}</div>
            {% form 'customer' %}
              <div><input
                  placeholder="Email"
                  type="email"
                  name="contact[email]" />
                <input
                  class="button button--primary"
                  type="submit"
                  value="Sign up" /></div>
            {% endform %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div>
      <p class="h5 footer_text center text-color_{{ section.id}}">© 2023, Influence Clone By Ravi Kiran</p>
    </div>
  </div>
{% endif %}


{% style %}
  .footer {
    width: 100vw;
  }
  .footer-item {
    width: 25%;
    padding: 20px;
  }
  .footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .links {
    list-style: none;
  }
  .footer_{{ section.id}}{
    background-color: #261D09;
    padding: 20px;
  }
  .text-color_{{ section.id}}{
    color: {{ section.settings.footer_text_color}}
  }
  .image {
    width: 200px;
  }
  {% for block in section.blocks %}
    .footer_image {
      max-width: {{ block.settings.logo_size_desktop | append: 'px' }}
      ;
    }
    @media screen and (max-width:990px) {
      .footer_image {
        max-width: {{ block.settings.logo_size_mobile | append: 'px' }}
        ;
      }
      .image {
        width: 200px;
      }
      .footer-flex {
        flex-direction: column;
      }
      .footer-item {
        width: 100%;
      }
      .footer_text {
        font-size: 12px;
        margin-top: 10px;
      }
    }
  {% endfor %}
{% endstyle %}

{% schema %}
  {
    "name": "Footer",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "COLOR SCHEME"
      }, {
        "type": "color",
        "id": "footer_background_color",
        "label": "Background Color"
      }, {
        "type": "color",
        "id": "footer_text_color",
        "label": "Text Color"
      }
    ],
    "blocks": [
      {
        "name": "Logo",
        "type": "logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Image"
          }, {
            "type": "range",
            "id": "logo_size_desktop",
            "default": 200,
            "min": 80,
            "max": 270,
            "step": 10,
            "label": "Width (desktop)"
          }, {
            "type": "range",
            "id": "logo_size_mobile",
            "default": 140,
            "min": 50,
            "max": 160,
            "step": 10,
            "label": "Width (desktop)"
          }
        ]
      },
      {
        "name": "Links",
        "type": "footer-links",
        "settings": [
          {
            "type": "text",
            "id": "links_heading",
            "label": "Heading",
            "default": "Links"
          }, {
            "type": "link_list",
            "label": "Menu",
            "id": "footer_links"
          }
        ]
      },
      {
        "name": "Text",
        "type": "text-section",
        "settings": [
          {
            "type": "text",
            "id": "text_section_heading",
            "default": "Text",
            "label": "Heading"
          }, {
            "type": "richtext",
            "id": "text_section_content",
            "label": "Text",
            "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
          }
        ]
      },
      {
        "name": "Image",
        "type": "image-section",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "url",
            "id": "Link",
            "label": "Link"
          }
        ]
      }, {
        "name": "Newsletter",
        "type": "newsletter-section",
        "settings": [
          {
            "type": "text",
            "id": "ns_heading",
            "label": "Heading",
            "default": "Newsletter"
          }, {
            "type": "richtext",
            "id": "ns_text",
            "label": "Body Text"
          }
        ]
      }
    ]
  }
{% endschema %}