<div class="page-width header-container_{{section.id}}">
  <div class="flex-container">
    <div class="flex-items flex {{section.settings.logo_position}}">
      <div id="mobile-menu" class="mobile_nav align-center">
        <button class="hamburger-icon" id="hamburger">
          <svg
            width="30px"
            height="30px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" /></svg>
        </button>
      </div>
      {% if section.settings.image != blank %}
        <div class="flex-items__logo">
          <div class="justify-center align-center">
            <a href="/">
              {% render 'image', class: 'logo', mobileSrc: , desktopSrc: section.settings.image %}
            </a>
          </div>
        </div>
      {% endif %}
      <div class="flex-item__links">
        <ul class="flex">
          {% for link in section.settings.main_menu.links -%}
            <a class="text-decoration-none" href="{{link.url}}">
              <li class="links_{{section.id}}">+ {{ link.title }}</li>
            </a>
          {%- endfor %}
        </ul>
      </div>
      <div class="flex-item__icons flex">
        <div>
          <button class="icon" id="search_icon">
            <svg
              width="30px"
              height="30px"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z" /></svg>
          </button>
        </div>
        <button class="icon" id="user_icon">
          <svg
            width="30px"
            height="30px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z" /></svg>
        </button>
        <button class="icon" id="cart_icon">
          <svg
            width="30px"
            height="30px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" /></svg>
        </button>
      </div>
    </div>
    <div id="mobile-menu-bar" class="display-none">
      <ul class="">
        {% for link in section.settings.mobile_menu.links -%}
          <a class="text-decoration-none" href="{{link.url}}">
            <li class="links_{{section.id}} flex justify-between align-center">
              <div>{{ link.title }}</div>
              <div>+</div>
            </li>
          </a>
        {%- endfor %}
      </ul>
    </div>
    <div id="searchBar" class="searchBar display-none">
      <form class="search" action="/search">
        <input
          class="searchBar"
          type="text"
          placeholder="Search"
          name="q"
          value="{{ search.terms | escape }}" />
        <input type="submit" value="Search" />
      </form>
    </div>
  </div>
</div>
<script>
  let search_icon = document.getElementById("search_icon");
  search_icon.onclick = () => {
    let searchBar = document.getElementById("searchBar");
    searchBar.classList.toggle("display-none");
  }

  let hamburger = document.getElementById("hamburger");
  hamburger.onclick = () => {
    let mobileMenuBar = document.getElementById("mobile-menu-bar");
    mobileMenuBar.classList.toggle("display-none");
  }
</script>
<style>
.hamburger-icon{
  background-color:white;
}
  
  .mobile_nav {
    display: none;
  }
  .icon {
    border: none;
    background-color: transparent;
  }
  .display-none {
    display: none;
  }
  .searchBar {
    width: 70%;
    margin: auto auto 30px;
  }
  .flex-item__icons {
    margin: 20px 20px 20px auto;
  }
  .flex-item__search {
    margin: 0 20px;
    padding: 5px;
  }
  .header-container {
    padding: 20px;
  }
  .flex-items__logo {
    max-width: 180px;
    max-height: 50px;
    margin: 10px 30px;
  }
  .links_{{ section.id}}{
    list-style: none;
    font-weight: 700;
    margin-left: 20px;
    font-size: 2rem;
    color: {{ section.settings.text_color}}
    ;
  }
  .header-container_{{ section.id}}{
    background-color: {{ section.settings.background_color}}
  }
  @media screen and (max-width:990px) {
    .links_{{ section.id}}{
      list-style: none;
      font-weight: 700;
      margin: 0 5px;
      font-size: 1rem;
      color: {{ section.settings.text_color}}
      ;
    }
    .flex-items__logo {
      max-width: 130px;
      max-height: 40px;
      margin: auto 0;
      position: relative;
      left: 10%;
    }
    .flex-item__links {
      display: none;
    }
    .mobile_nav {
      margin: auto 0;
    }
    .flex-item__icons {
      margin: 20px 5px 20px auto;
    }
    .links_{{ section.id}}{
      font-size: 22px;
      font-weight: 500;
    }
    .mobile_nav {
      display: block;
    }
  }
</style>
{% schema %}
  {
    "name": "Header",
    "class": "section",
    "tag": "header",
    "settings": [
      {
        "type": "header",
        "content": "LOGO"
      },
      {
        "type": "image_picker",
        "label": "Logo image",
        "id": "image"
      },
      {
        "type": "radio",
        "id": "logo_position",
        "label": "Logo Position",
        "options": [
          {
            "label": "Left",
            "value": "justify-start align-start"
          }, {
            "label": "Center",
            "value": "justify-center align-center"
          }
        ],
        "default": "justify-start align-start"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      }, {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      }, {
        "type": "link_list",
        "id": "main_menu",
        "label": "Menu"
      }, {
        "type": "link_list",
        "id": "mobile_menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}