{% if section.blocks.size > 0 %}
  <div class="image-gallery container">
    <div class="flexbox flex">
      {% for block in section.blocks %}
        <div class="flexbox__item">
          <div class="image-item">
            <div class="image-item__image">
              {% if block.settings.image != blank %}
                {% assign mobile_image = block.settings.image_mobile | default: block.settings.image %}
                {% render 'image', mobileSrc: mobile_image, desktopSrc: block.settings.image %}
              {% endif %}
            </div>
            <div class="image-item__content flex {{block.settings.text_position}}">
              <div>
                {% if block.settings.heading_text != blank %}
                  <h3 class="image-text__heading heading-{{ block.id}}">{{ block.settings.heading_text }}</h3>
                {% endif %}

                {% if block.settings.paragraph_text != blank %}
                  <div class="image-text__paragraph paragraph-{{ block.id }}">{{ block.settings.paragraph_text }}</div>
                {% endif %}

                {% if block.settings.button_text != blank and block.settings.button_link != blank %}
                  <div class="image-text__button">
                    <a class="button button-{{ block.id }}" href="{{ block.settings.button_link }}">
                      {{ block.settings.button_text }}
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% style %}
  {% for block in section.blocks %}
    .heading-{{ block.id}}{
      color: {{ block.settings.heading_text_color }}
      ;
    }
    .paragraph-{{ block.id }}{
      color: {{ block.settings.paragraph_text_color }}
      ;
    }
    .button-{{ block.id }}{
      color: {{ block.settings.button_text_color }}
      ;
      background: {{ block.settings.button_background_color }}
    }
    .button-{{ block.id }}:hover  {
      background: transparent;
      border: 2px solid #fff;
      color: #fff;

    }
  {% endfor %}
{% endstyle %}

{% schema %}
  {
    "name": "Image Gallery",
    "class": "section",
    "tag": "section",
    "blocks": [
      {
        "name": "Images",
        "type": "image-section",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image (Mobile)"
          },
          {
            "type": "text",
            "id": "heading_text",
            "label": "Heading Text",
            "default": "Heading Text"
          },
          {
            "type": "color",
            "id": "heading_text_color",
            "label": "Heading Text Color"
          }, {
            "type": "richtext",
            "id": "paragraph_text",
            "label": "Paragraph Text",
            "default": "<p>Image Gallery Paragraph Text.</p>"
          }, {
            "type": "color",
            "id": "paragraph_text_color",
            "label": "Paragraph Text Color"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "Button Text"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }, {
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color"
          }, {
            "type": "color",
            "id": "button_background_color",
            "label": "Button Background Color"
          }, {
            "type": "select",
            "id": "text_position",
            "label": "Text position",
            "options": [
              {
                "value": "align-start justify-start",
                "label": "Top left"
              },
              {
                "value": "align-start justify-center",
                "label": "Top center"
              },
              {
                "value": "align-start justify-end",
                "label": "Top right"
              },
              {
                "value": "align-center justify-start",
                "label": "Middle left"
              }, {
                "value": "align-center justify-center",
                "label": "Middle center"
              }, {
                "value": "align-center justify-end",
                "label": "Middle right"
              }, {
                "value": "align-end justify-start",
                "label": "Bottom left"
              }, {
                "value": "align-end justify-center",
                "label": "Bottom center"
              }, {
                "value": "align-end justify-end",
                "label": "Bottom right"
              }
            ],
            "default": "align-start justify-start"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Gallery"
      }
    ]
  }
{% endschema %}