<div class="logo-container logo-section_{{ section.id}}">
  <div class="logo-card flex">
    {% for block in section.blocks %}
      <div class="logo-item center">
        {% if block.settings.image != blank %}
          {% render 'image', class: '', mobileSrc: block.settings.image, desktopSrc: block.settings.image %}
        {% endif %}
        <h2 class="h3">{{ block.settings.heading }}</h2>
        <div>
          {{ block.settings.subheading }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .logo-section_{{ section.id}}{
    background-color: {{ section.settings.background_color}}
    ;
  }
  .logo-container {
    padding: 10px;
  }
  .logo-item {
    width: 25%;
    padding: 5px;
  }
  @media screen and (max-width:990px) {
    .logo-card {
      flex-direction: column;
    }
    .logo-item {
      width: 100%;
    }
  </style>
{% schema %}
    {
      "name": "Logo List",
      "class": "section",
      "tag": "section",
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        }
      ],
      "blocks": [
        {
          "name": "Logo List",
          "type": "logo-list",
          "limit": 4,
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            }, {
              "type": "text",
              "id": "heading",
              "label": "Heading",
              "default": "Heading"
            }, {
              "type": "richtext",
              "id": "subheading",
              "label": "Subheading",
              "default": "<p>Enter Your Text</p>"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Logo List"
        }
      ]
    }
  {% endschema %}