<link rel="stylesheet" href="{{ 'collection.css' | asset_url }}">
<script src="{{ 'collection.js' | asset_url }}" defer="defer"></script>

{% assign product_limit = section.settings.product_per_page %}
{% paginate collection.products by product_limit %}
  <div class="page-width main-collection">
    <div class="main-collection__container" id="ProductGridContainer">
      {%- if collection.products.size == 0 -%}
        <div class="main-collection__empty">
          No products found
        </div>
      {%- else -%}
        <aside
          class="main-collection__filters"
          id="CollectionFilters"
          data-id="{{ section.id }}">
          <div class="collection-filters__overlay"></div>
          {% render 'collection-filter', section: section, collection: collection %}
        </aside>

        <div class="main-collection__products">
          <div class="collection-toolbar">
            <div class="collection-toolbar__count">
              Showing {{ collection.products_count }} of {{ collection.all_products_count }} {{ collection.all_products_count | pluralize: 'product', 'products' }}
            </div>
          </div>

          <ul
            id="ProductGrid"
            data-id="{{ section.id }}"
            class="grid product-grid grid--1-col-tablet-down grid--3-col-desktop">
            {%- for product in collection.products -%}
              <li class="grid__item">
                <div class="h3">{{ forloop.index }}. {{ product.title }}</div>
                <div>
                  <a href="{{product.url}}"><img src="{{product.featured_image|img_url: 'large'}}"></a>
                </div>
                <div class="h6">{{ product.price | money_with_currency }}
                  <span class="compared-price">{{ product.compare_at_price_max | money_with_currency }}</span>
                </div>
              </li>
            {%- endfor -%}
          </ul>
        </div>

        {%- if paginate.pages > 1 -%}
          {{ paginate | default_pagination }}
        {%- endif -%}
      {%- endif -%}
    </div>

    <collection-sticky-button class="medium-hide large-up-hide">
      <button type="button" class="collection-sticky-button">Filters and Sorting</button>
    </collection-sticky-button>
  </div>
{% endpaginate %}

<style>
  .compared-price {
    text-decoration: line-through;
    color: red;
    margin-left: 10px;
  }
</style>
{% schema %}
  {
    "name": "Collection products",
    "tag": "section",
    "settings": [
      {
        "type": "range",
        "id": "product_per_page",
        "label": "Product per page",
        "min": 3,
        "max": 48,
        "step": 1,
        "default": 24
      }
    ]
  }
{% endschema %}