<div class="page-width grid mb-20">
  <div class="product_image grid--2-col-desktop grid__item">
    <div><img src="{{product.featured_image|img_url: 'large'}}"></div>
  </div>
  <div class="product_text grid--2-col-desktop grid__item">
    <h2>{{ product.title }}</h2>
    {% if product.available %}
      <p>In Stock: Ready to Ship</p>
    {% endif %}
    <h4>{{ product.price | money_with_currency }}</h4>
    <p>⭐⭐⭐⭐⭐</p>
    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        <div class="flex flex-wrap align-center">
          <label class="h5" for="{{option.name}}">{{ option.name }}</label>
          {% for value in option.values %}
            <div class="flex flex-wrap align-center">
              <input type="radio" name="{{option.name}}">
              <option>{{ value }}</option>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    {% endunless %}
    {% form 'product', product %}
      <div>
        <button type="submit" class="button button--primary">Add to Cart</button>
      </div>
    {% endform %}
    <h4>Product Description</h4>
    <p>{{ product.content }}</p>
  </div>
</div>
<style>
  .button {
    margin: 10px 0;
  }
  .product_text {
    width: 60vw;
    padding: 20px;
  }
  .product_image {
    padding: 10px;
  }
  .product_images {
    width: 25%;
  }
</style>

{% schema %}
  {
    "name": "Product Page",
    "class": "product",
    "settings": []
  }
{% endschema %}