{% if section.settings.sub_heading != blank and section.settings.heading != blank %}
  <div class="flex flex-column align-center justify-center news-letter__{{section.id}} {{section.settings.text_alignment}}">
    <div>
      <h3 class="mb-15 text-color_{{section.id}}">{{ section.settings.sub_heading }}</h3>
      <h2 class="mb-20 text-color_{{section.id}}">{{ section.settings.heading }}</h2>
      <form>
        <div class="flex align-center mb-20 justify-center">
          <input type="email">
          <button class="button button--primary btn-color_{{section.id}}" type="submit">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
{% endif %}

{% style %}
  .text-color_{{ section.id}}{
    color: {{ section.settings.text_color}}
  }
  .btn-color_{{ section.id}}{
    background-color: {{ section.settings.button_background_color}}
    ;
    color: {{ section.settings.button_text_color}}
  }
  .news-letter__{{ section.id}}{
    text-transform: uppercase;
    height: 434px;
    width: 100vw;
    padding: 15%;
    background-color: {{ section.settings.background_color}}
  }
  input {
    min-height: 4.8rem;
    padding: 0 3rem;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Newsletter",
    "class": "newsletter",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      },
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Subheading",
        "default": "Signup now"
      },
      {
        "type": "color",
        "id": "button_background_color",
        "label": "Button Background Color"
      }, {
        "type": "color",
        "id": "button_text_color",
        "label": "Button Text Color"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Get the newsletter"
      }, {
        "type": "select",
        "id": "text_alignment",
        "label": "Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }
    ],
    "presets": [
      {
        "name": "Newsletter"
      }
    ]
  }
{% endschema %}