<div class="richtext richtext-{{section.id}} mb-15">
  <div class="container">
    <div class="richtext__wrapper {{section.settings.text_alignment}}">
      {% if section.settings.heading_text != blank %}
        <h2 class="richtext__heading">{{ section.settings.heading_text }}</h2>
      {% endif %}
      {% if section.settings.paragraph_text != blank %}
        <div class="richtext__paragraph">{{ section.settings.paragraph_text }}</div>
      {% endif %}
      {% if section.settings.button__text != blank %}
        <div class="richtext__button">
          <a class="button button--primary" href="{{ section.settings.button__link }}">{{ section.settings.button__text }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .richtext-{{ section.id}}{
    background-color: {{ section.settings.section-background}}
  }
</style>


{% schema %}
  {
    "name": "Richtext",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "section-background",
        "label": "Section Background",
        "default": "#c5c5c5"
      },
      {
        "type": "text",
        "id": "heading_text",
        "label": "Heading Text",
        "default": "About Company"
      },
      {
        "type": "richtext",
        "id": "paragraph_text",
        "label": "Heading Text",
        "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem lpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem lpsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>"
      },
      {
        "type": "text",
        "id": "button__text",
        "label": "Button text",
        "default": "Discover our Catalog"
      }, {
        "type": "url",
        "id": "button__link",
        "label": "Button link"
      }, {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          }, {
            "value": "text-center",
            "label": "Center"
          }, {
            "value": "text-right",
            "label": "Right"
          }
        ],
        "default": "text-center"
      }
    ],
    "presets": [
      {
        "name": "Richtext"
      }
    ]
  }
{% endschema %}