<div class="slideshow">
  <div class="slideshow__wrapper">
    {% for block in section.blocks %}
      {% if block.settings.image != null %}
        <div class="slideshow__image">
          {% render 'image', class: "" mobileSrc: block.settings.mobile_image, desktopSrc: block.settings.image %}
        {% endif %}
        <div class="slideshow__content flex {{block.settings.text_position}}">
          <div>
            <h2 class="h2 text-light">{{ block.settings.heading }}</h2>
            <div class="h3 text-light">{{ block.settings.sub_heading }}</div>
            <div>
              <a class="button {{block.settings.button1_color}}" href="{{block.settings.button_link1}}">{{ block.settings.button_text1 }}</a>
              <a class="button {{block.settings.button2_color}}" href="{{block.settings.button_link2}}">{{ block.settings.button_text2 }}</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .button:hover {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
  }
  .text-light {
    color: #ffffff;
    font-weight: 700;
  }
  .slideshow__image {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .slideshow__content {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 4rem;
  }
  @media screen and (max-width:750px) {
    .slideshow__image {
      height: 100%;
      height: 100%;
      width: 100%;
    }
    .slideshow__content {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 1rem;
    </style>
    {% schema %}
      {
        "name": "Slideshow", "class": "Slideshow", "tag": "section", "blocks": [
          {
            "name": "Slide", "type": "slide", "limit": 6, "settings": [
              {
                "type": "image_picker", "id": "image", "label": "Image", "info": "2048 x 1024px recommended"}, {
                "type": "image_picker", "id": "mobile_image", "label": "Image", "info": "1024 x 1024px recommended"}, {
                "type": "text", "label": "Heading", "id": "heading", "default": "Heading Text"}, {
                "type": "richtext", "label": "Subheading", "id": "sub_heading", "default": "<p>Subheading</p>"}, {
                "type": "text", "id": "button_text1", "label": "Button 1 text", "default": "Shop this"}, {
                "type": "url", "id": "button_link1", "label": "Shop Latest"}, {
                "type": "select", "id": "button1_color", "label": "Button 1 Color", "options": [
                  {
                    "label": "Primary", "value": "button--primary"}, {
                    "value": "button--secondary", "label": "Secondary"}
                ], "default": "button--secondary"}, {
                "type": "text", "id": "button_text2", "label": "Button 2 text", "default": "Best Selling"}, {
                "type": "url", "id": "button_link2", "label": "Shop all"}, {
                "type": "select", "id": "button2_color", "label": "Button 2 Color", "options": [
                  {
                    "label": "Primary", "value": "button--primary"}, {
                    "value": "button--secondary", "label": "Secondary"}
                ], "default": "button--secondary"}, {
                "type": "select", "id": "text_position", "label": "Text overlay position", "options": [
                  {
                    "value": "align-start justify-start", "label": "Top left"}, {
                    "value": "align-start justify-center", "label": "Top center"}, {
                    "value": "align-start justify-end", "label": "Top right"}, {
                    "value": "align-center justify-start", "label": "Middle left"}, {
                    "value": "align-center justify-center", "label": "Middle center"}, {
                    "value": "align-center justify-end", "label": "Middle right"}, {
                    "value": "align-end justify-start", "label": "Bottom left"}, {
                    "value": "align-end justify-center", "label": "Bottom center"}, {
                    "value": "align-end justify-end", "label": "Bottom right"}
                ], "default": "align-start justify-start"}
            ]
          }
        ], "presets": [
          {
            "name": "Slideshow"}
        ]
      }
    {% endschema %}